{%extends 'base.html'%}
{% block head %}
    	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
        function calcTotal() {
            coun = parseFloat($('.show_pirze > em').text());
            num = parseInt($('.num_show').val());
            $('.total > em').text((coun*num).toFixed(2));
        };

        $(function () {
            $('.num_show').blur(function () {
                calcTotal();
            });
            $('.add').click(function () {
                $('.num_show').val(parseInt($('.num_show').val())+1);
                calcTotal();
            });
            $('.minus').click(function () {
{#                获取num_show的值,并把这个值加1,在使用add赋值回去#}
                count = parseInt($('.num_show').val())-1
                if (count < 1){
                    $('.num_show').val(1);
                }else{
                    $('.num_show').val(count);
                }

                    calcTotal();
            });
        });

{#		function calcTotal() {#}
{#            price = parseFloat($('.show_pirze > em').text());#}
{#            count = parseInt($('.num_show').val());#}
{#            $('.total > em').text((price*count).toFixed(2));#}
{#        };#}
{##}
{#		$(function () {#}
{#            $('.add_cart').click(function () {#}
{#                var num = $('.total > em')#}
{#                $.get('/urls/user_center_order1/?num='+$('.show_pirze > em')+'&title='+$('.h3'),function (data) {#}
{##}
{#                });#}
{#            });#}
{#        });#}
{##}

	</script>
{% endblock head %}
{% block body %}


	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ minute.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ minute.gtitle }}</h3>
			<p>{{ minute.gjianjie }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ minute.gprice }}</em></span>
				<span class="show_unit">单  位：{{ minute.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{ minute.gprice }}</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for i in newest %}
                    <li>
						<a href="#"><img src="/static/{{ i.gpic }}"></a>
						<h4><a href="#">{{ i.gtitle }}</a></h4>
						<div class="prize">￥{{ i.gprice }}</div>
					</li>
                    {% endfor %}

				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>名称:{{ minute.gtitle }}&nbsp;<b>介绍:</b>{{ minute.gjianjie }}</dd>
				</dl>
			</div>

		</div>
	</div>
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
{#		var $add_x = $('#add_cart').offset().top;#}
{#		var $add_y = $('#add_cart').offset().left;#}
{##}
{#		var $to_x = $('#show_count').offset().top;#}
{#		var $to_y = $('#show_count').offset().left;#}
{##}
{#		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})#}
{#		$('#add_cart').click(function(){#}
{#			$(".add_jump").stop().animate({#}
{#				'left': $to_y+7,#}
{#				'top': $to_x+7},#}
{#				"fast", function() {#}
{#					$(".add_jump").fadeOut('fast',function(){#}
						//当动画播放完时，进行添加操作
                    $(function () {
                        $('.add_cart').click(function () {
                            $.get('/cart/add{{ minute.id }}_' + $('.num_show').val() + '/', function (data) {
                                $('#show_count').html(data.count);
                            });
                        });
                    });
{#					});#}
{##}
{#			});#}
{#		})#}
	</script>
{% endblock body %}